@model WebUI.Models.LoginModel

@{
    ViewData["Title"] = "SignIn";
}

@* <style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    </style>*@



<main class="form-signin">
    @*       <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">*@
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <form asp-action="SignIn">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating">

            <input asp-for="UserName" placeholder="User Name" id="floatingInput" class="form-control" />
            <label asp-for="UserName" for="floatingInput"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-floating">

            <input asp-for="Password" placeholder="Password" class="form-control" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
        <div class="form-group">
            <input type="submit" class="w-100 btn btn-lg btn-primary" value="Login" />
        </div>
    </form>



    </main>


